body {
  background-color: #E8F9FD;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #413F42;
}

h1 {
  color: #4D96FF;
  font-family: "Kaushan Script", handwriting;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;

}

h2 {
  color: #4D96FF;
  font-family: "Merienda", handwriting;
  font-weight: normal;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: "Merienda", handwriting;
}

p {
  line-height: 2;
}

hr {
  border: dotted #90E0EF 10px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}

a {
  color: #646FD4;
  font-family: "Merienda", handwriting;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

.TopContainer {
  background-color: #A4EBF3;
  position: relative;
  padding-top: 100px;
}

.MiddleContainer {
  margin: 100px 0;
}

.BottomContainer {
  background-color: #3DB2FF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomCloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  /* background-color: #FFB2A6 */
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.codeImage {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.psImage {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contactMessage {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #FFFFFF;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #2b76b8);
  background-image: -moz-linear-gradient(top, #11cdd4, #2b76b8);
  background-image: -ms-linear-gradient(top, #11cdd4, #2b76b8);
  background-image: -o-linear-gradient(top, #11cdd4, #2b76b8);
  background-image: linear-gradient(to bottom, #11cdd4, #2b76b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Merienda", handwriting;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2ba6c2);
  background-image: -moz-linear-gradient(top, #30e3cb, #2ba6c2);
  background-image: -ms-linear-gradient(top, #30e3cb, #2ba6c2);
  background-image: -o-linear-gradient(top, #30e3cb, #2ba6c2);
  background-image: linear-gradient(to bottom, #30e3cb, #2ba6c2);
  text-decoration: none;
}
